// colors
$redColor: #EF483E
$lightGrayColor: #CFCFCF
$darkGrayColor: #4B4B4F

// width
$mw728: 728px
$mw425: 425px

// transition time
$time03s: .3s

.form
  width: 100%

  &__fieldset
    //width: 100%
    border: none
    padding: 0
    margin: 0 0 40px
    display: flex
    flex-direction: column
    &:last-child
      margin: 0 0 16px
    &:nth-child(3) > .form__input-container
      margin: 0 0 16px

  &__title
    display: flex
    align-items: center
    margin: 0 0 21px

  &__count
    margin: 0 8px 0 0
    width: 24px
    height: 24px
    display: flex
    justify-content: center
    align-items: center
    border-radius: 50%
    background: $redColor
    font-weight: bold
    font-size: 16px
    line-height: 10px

  &__text
    margin: 0
    font-weight: bold
    font-size: 24px
    line-height: 30px
    transform: translateY(2px)
    transition: .3s
    @media screen and (max-width: $mw728)
      font-size: 20px
      line-height: 24px

  &__input-container
    display: flex
    width: 356px
    justify-content: space-between
    transition: $time03s
    @media screen and (max-width: $mw728)
      width: 100%

  &__label
    font-weight: normal
    font-size: 13px
    line-height: 16px
    transition: $time03s
    @media screen and (max-width: $mw425)
      font-size: 11px
      line-height: 12px

    &_type_checkbox
      display: flex
      align-items: center
      margin: 0 0 16px
      @media screen and (max-width: $mw728)
        width: 100%
      & > .form__input-name
        margin: 0
    &_width_half
      width: 49%
    &_type_radio
      margin: 0 0 4px
      width: 100%
      height: 44px
      //padding: 0 10px 0 12px
      box-sizing: border-box
      display: flex
      align-items: center
      background-color: $darkGrayColor
      position: relative
    &_type_option
      font-size: 14px
      line-height: 17px
      height: 28px
      background-color: #fff
      color: #000
      padding: 0 0 0 14px
      cursor: pointer
      transition: $time03s
      &:hover
        background: $redColor
        color: #fff


      &:last-child
        margin: 0
    &_dir_row
      margin: 0 0 16px
      width: 100%
      &:last-child
        margin: 0

  &__input-name
    margin: 0 0 8px
    overflow: hidden
    white-space: nowrap

  &__input
    box-sizing: border-box
    padding: 0 0 0 14px
    height: 44px
    border: none
    display: flex
    flex-direction: column
    font-weight: normal
    font-size: 15px
    line-height: 18px
    &:focus
      outline: none
    &::placeholder
      color: $lightGrayColor
      font-weight: normal
      font-size: 15px
      line-height: 18px
      //padding: 0 0 0 14px
    &_type_address
      position: relative
      background: transparent
      width: 97%
      color: $lightGrayColor
      &:disabled,
      &:disabled::placeholder
        color: #818184

    &_type_checkbox
      height: 24px

    &_width_full
      width: 100%
    &_width_half
      width: 100%
      //margin: 8px 0 0
      @media screen and (max-width: $mw728)
        width: 100%
    &:last-child
      margin: 0

  &__input-wrap
    position: relative
    color: #ffffff
    width: 100%
    //width: calc(100% - 150px)
    &_color_dark
      width: calc(100% - 150px)
      &:before
        content: ''
        position: absolute
        top: 0
        right: 0
        display: flex
        //width: calc(100% - 150px)
        width: 25%
        height: 100%
        background: linear-gradient(to right, rgba(75, 75, 79, .0001) 20%, $darkGrayColor 80%)
        z-index: 3
    &_color_light
      &:before
        content: ''
        position: absolute
        top: 0
        right: 0
        display: flex
        width: 25%
        height: 100%
        background: linear-gradient(to right, rgba(255, 255, 255, .0001) 20%, white 80%)
        z-index: 3
    &_width_half
      &:before
        content: ''
        position: absolute
        top: 0
        right: 0
        display: flex
        width: 60%
        height: 100%
        background: linear-gradient(to right, rgba(255, 255, 255, .0001) 20%, white 80%)
        z-index: 3

  &__option
    background: #fff

  &__where-text
    margin: 0

  &__distance-text
    color: $lightGrayColor
    margin: 0

  &__text-wrap
    margin: 0 0 8px
    font-size: 13px
    line-height: 16px
    color: #FFFFFF
    display: flex
    justify-content: space-between

  &__input[type='radio'],
  &__input[type='checkbox']
    position: absolute
    width: 1px
    height: 1px
    overflow: hidden
    clip: rect(0 0 0 0)

  &__input[type='radio']
    &:checked + div
      background-color: $redColor
  &__input[type='checkbox']
    &:checked
      margin: 0 0 16px
    &:checked + div
      background-color: $redColor
      border: 2px solid $redColor
      background-image: url('/src/images/bg-im-chckbox.svg')
      background-repeat: no-repeat
      background-position: center

  &__visible-checkbox
    width: 24px
    height: 24px
    margin: 0 12px 0 0
    border: 2px solid #FFFFFF
    box-sizing: border-box
    transition: .2s

  &__visible-radio
    margin: 0 0 0 12px
    position: relative
    width: 16px
    height: 16px
    box-sizing: border-box
    border-radius: 50%
    background-color: #FFFFFF
    &:before
      content: ''
      position: absolute
      top: 4px
      left: 4px
      width: 8px
      height: 8px
      border-radius: 50%
      background: #343539

  &__btn
    position: absolute
    z-index: 3
    top: 10px
    right: 10px
    width: 119px
    height: 24px
    outline: none
    border: none
    box-sizing: border-box
    background: #717174
    border-radius: 2px
    display: flex
    //padding: 4px 13px
    padding: 0
    justify-content: center
    align-items: center
    font-size: 13px
    line-height: 13px
    letter-spacing: 0.05em
    color: #FFFFFF
    &:disabled
      background: #56565a
      color: #818184

  &__btn-text
    display: flex
    align-items: center
    text-transform: uppercase
    font-weight: normal
    transform: translateY(2px)

  &__textarea
    border: none
    outline: none
    box-sizing: border-box
    width: 100%
    height: 80px
    padding: 13px 23px 13px 14px
    @media screen and (max-width: 1240px)
      margin: 0 0 40px
    &::placeholder
      font-weight: normal
      font-size: 15px
      line-height: 18px
      color: $lightGrayColor

  &__option-label
    height: 44px
    width: 100%
    background: #fff

  &__list
    position: absolute
    z-index: 5
    top: 44px
    left: 0
    list-style-type: none
    padding: 0
    margin: 0
    height: 0
    width: 100%
    visibility: hidden
    opacity: 0
    transition: $time03s
    &_visible
      visibility: visible
      opacity: 1
      height: 100%

  &__dropdown-wrap
    position: relative

  &__dropdown-icon
    width: 16px
    height: 16px
    object-fit: contain
    position: absolute
    z-index: 4
    top: 14px
    right: 10px
    transform: rotate(180deg)
    transition: $time03s
    &_up
      transform: rotate(0)
